{{#if show_for}}
  {{#if displaySearchBanner}}
    <div class="custom-search-banner" >
      <div class="wrap custom-search-background">
      </div>
      <div class="wrap custom-search-banner-wrap">
        <h1>Échange et entraide <strong>des professionnels de l’inclusion</strong>.</h1>
        <p>Retrouvez les sujets abordés</p>
        {{mount-widget widget="search-widget"}}
      </div>
    </div>
  {{/if}}
{{/if}}
