.footer {
    background-color: #4f4f4f;
    color: white;
    padding: 20px;
    display: flex;
}

.footer-logo-column {
    flex: 1;
	padding: 20px;
    min-width: 140px;
    max-width: 140px;
    max-height: 130px;
    background: #fff;
    margin: 0 0 20px 0;
}

.footer-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-column {
  flex: 1;
}

.footer-text-column {
  flex: 1;
  flex-basis: 25%;
}
