@import "colors";

.navigation-container .select-kit {
  // We want to hide the category and subcategory dropdown filters
  display: none;
}

.categories-topic-solved {
    background-color: $verylightgreen;
}

.topic-list td + .categories-topic-solved {
  text-align: center;
}

.topic-list td + .posts, .topic-list td + .activity, .topic-list td + .views, .posts .number {
  color: $black;
}

.topic-list .activity {
  width: 90px;
}
