@import "colors";
@import "fonts";

#main {
  .d-header {
    height: 114px;
    box-shadow: none;
    .title img {
      width: 114px;
      height: 114px;
    }
    .title::after {
      content: "Communauté de l’inclusion";
      font-family: MarianneBold, Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 28px;
    }
  }
  .extra-info-wrapper {
    display: none;
  }
  .header-buttons {
    .sign-up-button,
    .login-button {
      text-transform: uppercase;
      border-radius: 5px;

      height: 41px;
      width: 137px;
      font-weight: bolder;
    }

    .d-icon-user {
      display: none
;    }
    .sign-up-button {
      border: 1px solid $darkgreen;
      background-color: $darkgreen;
      color: $white;
    }
    .login-button {
      background-color: transparent;
      color: $darkgreen;
    }
  }
}
