<div class="wrap">
  <div class="visio-and-category-container">
    <div class="explanation">
      <p>
        Pour vous aider à garder<br/>
        le lien avec vos réseaux,<br />
        <b>des outils sont mis<br />à disposition&nbsp;:</b>
      </p>
    </div>

    <div class="cta-container">
      <div class="cta-box">
        <div class="icon-container">
          <i class="icon-salon-visio"></i>
        </div>
        <p>Ouvrez un salon de visio pour animer votre réseau.</p>
        <br>
        <a class="cta" href="https://itou.typeform.com/to/gnfJUR9W">
          Faire une demande <i class="icon-arrow"></i>
        </a>
      </div>
    </div>

    <div class="cta-container">
      <div class="cta-box">
        <div class="icon-container">
          <i class="icon-collaboration"></i>
        </div>
        <p>
          Créez un espace d’échange dans le forum.
        </p>
        <br>
        <a class="cta" href="https://itou.typeform.com/to/zFp8dBpD">
          Faire une demande <i class="icon-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- En attente de pictos -->
<!--
<div class="wrap" id="home-services">
  <h2>Les services portés par la plateforme de l’inclusion</h2>
  <div class="service-list">
    <div class="service">
      <h3>
      <a href="https://inclusion.beta.gouv.fr/">Plateforme de l’inclusion</a></h3>
      <p>Facilite la mise en relation de candidats avec les SIAE</p>
      <a class="cta" href="https://inclusion.beta.gouv.fr/">
        J’y vais <i class="icon-arrow"></i>
      </a>
    </div>

    <div class="service">
      <h3><a href="https://lemarche.inclusion.beta.gouv.fr/">Le marché de l’inclusion</a></h3>
      <p>Rendre visible les structures de l’inclusion dans l’emploi afin d’être contacté par des acheteurs</p>
      <a class="cta" href="https://lemarche.inclusion.beta.gouv.fr/">
        J’y vais <i class="icon-arrow"></i>
      </a>
    </div>
  </div>
</div>
-->
